<script type="text/javascript">
  $('body').addClass('color-6');
</script>
<h1>Enter your new password:</h1>

<%= form_tag(reset_url, method: :delete, class: "form-inline") do %>
  <div class="form-group mt5">
    <%= hidden_field_tag :parent_id, @parent.id %>
    <%= password_field_tag :password, nil, class: "mb1 height34", placeholder: "Password" %>
    <%= password_field_tag :password_confirmation, nil, class: "mb1 height34", placeholder: "Confirm Password" %>
    <%= button_tag '<i class="icon-arrow-right"></i>'.html_safe, class: "btn btn-primary line-height0" %>
  </div>
<% end %>
