<%= form_for(@child, class: "form-inline mt15", remote: true) do |f| %>
  <div class="form-group mt15">
    <%= f.hidden_field :parent_id, value: @child.parent_id %>
    <%= f.text_field :first_name, placeholder: "First Name", class: "width250 mr8" %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "width250 mr8" %>
    <%= f.text_field :email, placeholder: "Email", class: "width250 mr8" %>
    <%= f.text_field :phone_number, placeholder: "Phone Number", class: "width250 mr8" %>
    <%= f.button "Create", class: "btn btn-primary" %>
  </div>
<% end %>
