<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"><%= "#{child.first_name} #{child.last_name}" %></h3>
        <%= link_to '<i class="icon-edit-sign"></i> Edit'.html_safe, '#', class: "btn btn-warning pull-right" %>
        <h6>
          <%= child.email %><br>
          <%= child.phone_number %>
        </h6>
      </div>
      <div class="modal-body">
        <h4>Organizations with Permission:</h4>
        <ul>
          <% child.authorizations.each do |the_authorization| %>
            <%= render 'authorization', authorization: the_authorization, the_child: child %>
          <% end %>
          <li id="click_to_add">
            <%= click_to_add(child) %>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
