<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title"><%= "#{child.first_name} #{child.last_name}" %></h3>
        <%= link_to '<i class="icon-edit-sign"></i> Edit'.html_safe, '#', class: "btn btn-warning pull-right" %>
        <h6>
          <%= child.email %><br>
          <%= child.phone_number %>
        </h6>
      </div>
      <div class="modal-body">
        <h6>Organizations with Permission:</h6>
        <ul>
          <% child.organizations.each do |organization| %>
          <li id="<%= "org-#{organization.id}-child-#{child.id}" %>">
            <%= organization.name %>
            <%= link_to '<i class="icon-trash"></i>'.html_safe, authorization_url, class: "pull-right", remote: true, method: :delete, data: { confirm: "Are you sure you would like to delete #{organization.name}'s permission for #{child.first_name}"} %>
          </li>
          <% end %>
          <li>
            <%= click_to_add(child) %>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
