<div class="panel panel-primary col-md-4">
  <div class="panel-heading">
    <%= link_to the_child.first_name, child_url(the_child.id), class: "btn" %>
    <%= link_to '<i class="icon-edit-sign"></i>'.html_safe, edit_child_url(the_child.id), class: "btn pull-right"  %>
  </div>
  <div class="panel-body">
    <% the_child.organizations.each do |organization|%>
      <%= link_to organization.name, organization_url(organization.id) %>
      <%= link_to '<i class="icon-trash"></i>'.html_safe, parent_url(the_child.parent.id), method: :delete, data: { confirm: 'Are you sure you want to remove this authorization?'}, class: "pull-right"%>
      <br>
    <% end %>
    <%= link_to '<i class="icon-plus-sign-alt"></i>'.html_safe, new_authorization_url, remote: true, class: "pull-right" %>
  </div>
</div>


