<div class="panel panel-primary col-md-4">
  <div class="panel-heading">
    <%= link_to the_child.first_name, child_url(the_child.id), class: "btn" %>
    <span class="badge pull-right mt15"><%= the_child.organizations.count %></span>
  </div>
  <div class="panel-body">
    <% the_child.organizations[0..2].each do |organization|%>
      <%= link_to organization.name, organization_url(organization.id) %>
      <br>
    <% end %>
    <% if the_child.organizations.count == 0 %>
      <%= link_to '<click to add>', '#' %><br>
      <%= link_to '<click to add>', '#' %><br>
      <%= link_to '<click to add>', '#' %>
    <% elsif the_child.organizations.count == 1 %>
      <%= link_to '<click to add>', '#' %><br>
      <%= link_to '<click to add>', '#' %>
    <% elsif the_child.organizations.count == 2 %>
      <%= link_to '<click to add>', '#' %>
    <% end %>
  </div>
  <div class="panel-footer height50">
    <%= link_to '<i class="icon-collapse"></i> expand'.html_safe, child_url(the_child), remote: true, class: "pull-right" %>
  </div>
</div>
