<%= form_for(@parent) do |f| %>
  <% if @parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

      <ul>
      <% @parent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <!-- <#%= f.label :first_name %><br> -->
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :last_name %><br> -->
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :phone_number %><br> -->
    <%= f.text_field :phone_number, placeholder: "Phone Number" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :email %><br> -->
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :address %><br> -->
    <%= f.text_field :address, placeholder: "Address" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :city %><br> -->
    <%= f.text_field :city, placeholder: "City" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :state %><br> -->
    <%= f.text_field :state, placeholder: "State" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :zip %><br> -->
    <%= f.text_field :zip, placeholder: "Zip Code" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :password %><br> -->
    <%= f.text_field :password, placeholder: "Password" %>
  </div>
  <div class="form-group">
    <!-- <#%= f.label :password_confirmation %><br> -->
    <%= f.text_field :password_confirmation, placeholder: "Confirm Password" %>
  </div>
  <div class="actions">
    <%= f.submit "sign up", class: "btn btn-primary"%>
  </div>
<% end %>
