<script type="text/javascript">
  $('body').addClass('color-6');
</script>

<h1>Dashboard:</h1>

<h3>The database has:</h3>
<ul>
  <li><%= @dashboard.parents_count %> Parents</li>
  <li><%= @dashboard.children_count %> Children</li>
  <li><%= @dashboard.doctors_count %> Doctors</li>
  <li><%= @dashboard.approved_organizations %> approved organizations</li>
  <li><%= @dashboard.suggested_organizations.count %> suggested organizations</li>
</ul>

<% if @dashboard.suggested_organizations.present? %>

  <h3>Here is the list of suggested organizations:</h3>
  <br>
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Approve</th>
      <th>Delete</th>
    </tr>
    <% @dashboard.suggested_organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.email %></td>
        <td><%= link_to '<i class="icon-check"></i>'.html_safe, organization_activate_url(organization), method: :post%></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
<% end %>
