<p id="notice"><%= notice %></p>

<div>
  <h1>Welcome back <%= @parent.first_name %></h1>
  <%= link_to '<i class="icon-edit-sign"></i> Edit your details'.html_safe, edit_parent_path(@parent), class: "btn btn-warning pull-right" %>
</div>
<p>
  <strong>Name:</strong>
  <%= "#{@parent.first_name} #{@parent.last_name}" %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @parent.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= "#{@parent.address}, #{@parent.city}, #{@parent.state}, #{@parent.zip}" %>
</p>
<div class="row">
  <% if @children.present? %>
    <% @children.each do |child| %>
      <%= render 'child_block', the_child: child %>
    <% end %>
  <% end %>
</div>
<%= link_to '<i class="icon-plus-sign-alt"></i> child'.html_safe, new_child_url(parent: @parent.id), class: "btn btn-danger", remote: true %>
