<!DOCTYPE html>
<html>
<head>
  <title>Kids360&deg;</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon-reorder"></i>
        </button>
        <!-- <a class="navbar-brand" href="#">Kids360</a> -->
        <%= link_to (image_tag 'logo1-trans.png', class: "img112x39"), '#', class: "navbar-brand p0" %>
      </div>
      <div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a title="Home page" class="scroll brand-1" href="#home">HOME</a></li>
          <li><a title="Check out our awesome services" href="#features" class=" scroll brand-4">FEATURES</a></li>
          <!-- <li><a title="Themes assets" href="#assets" class="scroll brand-3">Assets</a></li> -->
          <li><a title="Who we are" href="#about" class="scroll fadeto brand-4">ABOUT US</a></li>
          <li><a title="Get in touch!" href="#contact" class="scroll brand-2">CONTACT</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACCESS <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if current_parent.present? %>
                <li><%= link_to "MY ACCOUNT", parent_url(current_parent) %></li>
                <li><%= link_to "LOG OUT", sessions_url, method: :delete %></li>
              <% else %>
                <li><%= link_to "SIGN UP", new_parent_url %></li>
                <li><%= link_to "LOG IN", new_session_url %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-container -->
  </nav>


  <!-- Home Page -->
  <div id="home" class="page color-6">
    <div class="container color-6">
      <%= render 'layouts/flash' %>
    </div>
    <div class="inner-page">
      <h2 class="page-headline large">Kids360&deg; is the solution to give childcare providers the ability to react quickly in the event of an emergency.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-8 col-md-push-4 lazy-container">
        <%= image_tag "logo1-trans.png", class: "lazy", alt: "Looks great on every device", data: "logo1-trans.png" %>
      </div>
      <div class="col-md-4 col-md-pull-8">
        <ul class="big-list">
          <li><i class="icon-ok"></i> Safe and Secure </li>
          <li><i class="icon-tablet"></i> Mobile Friendly</li>
          <li><i class="icon-cloud"></i> Cloud Solution</li>
          <li><i class="icon-cog"></i> Built by Parents</li>
        </ul>
        <br />
        <a href="#features" title="Check out more freatures!" class="scroll btn btn-theme btn-centered"><i class="icon-caret-down"></i> Learn more</a>
      </div>
    </div>
  </div> <!-- /#home -->


  <!-- Feature page-->
  <div id="features" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">WHAT WE HAVE TO OFFER:</h2>
    </div>

    <div class="inner-page row">

      <div class="col-md-6 ">
        <p class="justify mt100">Our technology is the first to allow parents to communicate with their child care providers on one platform. Child care providers are able to provide an affordable solution to raise their standard by providing:</p>
        <ul class="features">
          <li> Accountability</li>
          <li> Security</li>
          <li> Emergency planning when seconds count!</li>
        </ul>
        <p>Information is 100% secure and access is only granted to the centers or after school programs that you grant.</p>
        <p>In the event of emergency your child’s critical information is available.</p>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <%= image_tag "Kids360NowAlertScreen.png", class: "iphone-image" %>
      </div>
    </div>

    <hr>

    <!-- Video
<!--     <div class="row inner-page">
      <div class="col-md-6 col-md-push-6">
        <div class="btn-container figurette">
          <#%= image_tag "video.png", alt: "Play video" %>
          <a class="lightbox iframe btn-play" target="_blank" href="http://vimeo.com/61693087"><i class="icon-play"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <ul class="big-list">
          <li><i class="icon-ok"></i> Always latest Tech</li>
          <li><i class="icon-play"></i> Responsive video</li>
          <li><i class="icon-resize-full"></i> Adaptive, smart mobile</li>
          <li><i class="icon-desktop"></i> All modern browsers supported</li>
        </ul>
        <br />
        <a href="#assets" class="scroll btn btn-theme btn-centered"><i class="icon-caret-down"></i> Even more features</a>
      </div>
    </div>
  </div> --> <!-- /#features -->

  <!-- Assets page -->
<!--   <div id="assets" class="page color-3">
    <div class="inner-page">
      <h2 class="page-headline">Kids360 assets</h2>
    </div>

    <!-- Vectors -->
   <!--  <div class="row inner-page">
      <div class="col-md-6 lazy-container">
        <#%= image_tag "responsive-vectors.png", class: "figurette lazy", alt: "Original vectors", data: "assets/responsive-vectors.png" %>
      </div>
      <div class="col-md-6">
        <h3>Kids360</h3>
        <p class="lead">Zombie ipsum
          <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeirtis.</p>
        <p>The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro..</p>
      </div>
    </div> -->  <!-- /vectors -->

<!--     <hr> -->

    <!-- Big laptop -->
<!--     <div class="row inner-page">
      <div class="col-md-offset-1 col-md-10">
        <div class="lazy-container lazy-large btn-container loaded">
          <div class="btn-container">
            <#%= image_tag "laptop-blue@2x.png", class: "figurette lazy", data: "assets/laptop-blue@2x.png", alt: "view image in lightbox", style: "display: inline;" %>
            <a href="img/superman.jpg" class="lightbox btn-play" target="_blank">
              <i class="icon-zoom-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Clients -->
<!--     <div class="clients color-1">
      <div class="inner-page">
        <h2 class="page-headline">Who's using Kids360.</h2>
      </div>
      <div class="inner-page row">
        <ul class="clients list-inline">
          <li><i class="icon-globe"></i> ABC DayCare </li>
          <li><i class="icon-heart"></i> ABC DayCare </li>
          <li><i class="icon-leaf"></i> ABC DayCare </li>
          <li><i class="icon-cloud"></i> ABC DayCare </li>
        </ul>
      </div>
    </div>
  </div><!-- /#assets -->

  <!-- About page -->
  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">What we do and how it all got started. Our story.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-6  lazy-container">
        <%= image_tag "logo1-trans.png", class: "figurette lazy", alt: "Our workspace", data: "assets/logo1-trans.png" %>
      </div>
      <div class="col-md-6">
        <h3>Kids360&deg; is the solution to give childcare providers the ability to react quickly in the event of an emergency.</h3>
        <p class="lead"><p>  With our web platform we drastically reduce reaction time when seconds count.  Parents fill out the same medical and emergency contact forms every year, never to be updated and child care providers spend countless hours and loose productivity entering and filing those papers away.  The file cabinet is not the solution when seconds count.  Parents will be able to rely on our technology because they have the power to constantly update their information and grant access, securely only to the people that need it.  Using a special tab on the app, you can also quickly and easily send you child’s vital information with a just a few clicks. Our system reduces errors, increases accuracy and identify trends faster.</p>
      </div>
    </div>

    <hr>

    <!-- Team -->
    <div class="row inner-page team">
      <div class="col-md-6">
        <%= image_tag "Audrey_high.jpg", class: "pull-left", alt: "A cookie" %>
        <h4>Audrey Jones</h4>
        <p class="justify">Audrey is Co-founder and CEO and is currently jointly responsible for business development, management, marketing, and the strategic vision of Kids360&deg;. She has over 10 years experience as a business analyst and a project manager.</p>
        <p class="justify">She’s also a mom who’s experienced the pains that parents have felt concerning emergency contact information issues, which makes her highly qualified to understand and lead the team developing the solution.</p>
      </div>
      <div class="col-md-6 team2">
        <%= image_tag "demarcus_high.jpg", class: "pull-left", alt: "A cookie" %>
        <h4>Demarcus Bowser</h4>
        <p class="justify">CIO/Co-Founder has over 15 years experience as a business analyst, developer, and efficiency expert. He has developed systems and processes for major corporations focusing on efficiency and effectiveness. A former educator and veteran, he is responsible for leading the technology objectives of Kids360&deg;.</p>
      </div>
    </div>
  </div> <!-- /#about -->

  <!-- Contact page -->
  <div id="contact" class="page color-6">
    <div class="inner-page">
      <h2 class="page-headline">Get in touch and stay updated</h2>
    </div>
    <div class="row inner-page contact">
      <div class="col-md-6">
        <h3>What's on your mind?</h3>
        <%= form_tag(contact_form_url, method: :post, id: "contact-form") do %>
          <%= text_area_tag :story, nil, placeholder: "Your story", rows: "6", class: "form-control" %>
          <%= text_field_tag :email, nil, placeholder: "your@e-mail.com", class: "form-control" %>
          <%= text_field_tag :name, nil, placeholder: "Name", class: "form-control" %>
          <%= button_tag "Contact Us", class: "btn btn-theme btn-centered" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="btn-container centered lazy-container text-center">
          <%= image_tag "map.png", class: "lazy figurette", alt: "Open the map", data: "assets/map.png" %>
          <a class="lightbox iframe  btn-map" target="blank" title="Open google maps" href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d54789!2d-90.0031135!3d35.13424"><i class="pull-left icon-map-marker"></i><div>Memphis,<br />Tennessee,<br /> Kids360&deg;</div></a>
        </div>
      </div>
    </div>
  </div> <!-- /#contact -->

  <!-- Newsletter -->
  <div class="newsletter color-1">
    <div class="inner-page row">
      <div class="col-md-4">
        <h4>
          <strong>Stay Connected</strong>, subscribe to get our latest news</h4>
      </div>
      <form action="http://herokuapp.us3.list-manage2.com/subscribe/post?u=929d1073491d740124f81b8fd&amp;id=5341a98bd0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="col-md-6">
          <input type="email" placeholder="your@e-mail.com" name="EMAIL" class="subscribe" id="mce-EMAIL">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-theme pull-right btn-block">Subscribe</button>
        </div>
      </form>
    </div>
  </div>


<!--End mc_embed_signup-->

  <!-- /newsletter -->

  <!-- The footer, social media icons, and copyright -->
  <%= render 'layouts/footer' %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
  }
  </script>

  <!-- Minimize in production. -->

  <script src="js/bootstrap.min.js"></script>


  <!-- Main js fail. -->
  <script src="js/main.min.js"></script>

  <script>
    $( ".dropdown" ).hover(function() {
      $( ".dropdown-menu" ).slideToggle();
    });
  </script>
  <%= render 'layouts/google_analytics' %>
