<!DOCTYPE html>
<html>
<head>
  <title>Kids360</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon-reorder"></i>
        </button>
        <a class="navbar-brand" href="#">Kids360</a>
      </div>
      <div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a title="Home page" class="scroll brand-1" href="#home">Home</a></li>
          <li><a title="Check out our awesome services" href="#features" class=" scroll brand-4">Features</a></li>
          <li><a title="Themes assets" href="#assets" class="scroll brand-3">Assets</a></li>
          <li><a title="Who we are" href="#about" class="scroll fadeto brand-4"> About us</a></li>
          <li><a title="Get in touch!" href="#contact" class="scroll brand-2">Contact</a></li>
          <% if current_parent.present? %>
            <li><%= link_to "My Account", parent_url(current_parent) %></li>
            <li><%= link_to "Log Out", sessions_url, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_parent_url %></li>
            <li><%= link_to "Log In", new_session_url %></li>
          <% end %>
        </ul>
      </div>
    </div><!-- /.navbar-container -->
  </nav>


  <!-- Home Page -->
  <div id="home" class="page color-6">
    <div class="container color-6">
      <%= render 'layouts/flash' %>
    </div>
    <div class="inner-page">
      <h2 class="page-headline large">Kids360 is the solution to give childcare providers the ability to react quickly in the event of an emergency.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-8 col-md-push-4 lazy-container">
        <%= image_tag "logo1-trans.png", class: "lazy", alt: "Looks great on every device", data: "logo1-trans.png" %>
      </div>
      <div class="col-md-4 col-md-pull-8">
        <ul class="big-list">
          <li><i class="icon-ok"></i> Safe and Secure </li>
          <li><i class="icon-tablet"></i> Mobile Friendly</li>
          <li><i class="icon-cloud"></i> Cloud Solution</li>
          <li><i class="icon-cog"></i> Built by Parents</li>
        </ul>
        <br />
        <a href="#features" title="Check out more freatures!" class="scroll btn btn-theme btn-centered"><i class="icon-caret-down"></i> Learn more</a>
      </div>
    </div>
  </div> <!-- /#home -->


  <!-- Feature page-->
  <div id="features" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Why should you choose Kids360</h2>
    </div>

    <div class="inner-page row">
      <ul class="features list-inline">
        <li>
          <h3><i class="icon-cog"></i> Made by Parents </h3>
          <p>Blah blah blah Blah blah blah Blah blah blah</p>
        </li>
        <li>
          <h3><i class="icon-heart"></i> Page speed</h3>
          <p>Blah blah blah Blah blah blah Blah blah blah</p>
        </li>
        <li>
          <h3><i class="icon-tablet"></i> Every device.</h3>
          <p>
            <strong>Kids360</strong>Blah blah blah Blah blah blah Blah blah blah</p>
        </li>
      </ul>
    </div>

    <div class="row inner-page">
      <div class="col-md-6 lazy-container">
        <%= image_tag "two-phones.png", class: "figurette lazy", alt: "Zombie ipsum", data: "two-phones.png" %>
      </div>
      <div class="col-md-6">
        <h3>All artwork included</h3>
        <p class="lead">Present your project properly. Create your own art from included templates</p>
        <ul class="list-wide">
          <li><i class="icon-check"></i> More than just a pretty face <a href="http://fortawesome.github.io/Font-Awesome/" title="awesome font, awesome">Font-awesome</a>
          </li>
          <li><i class="icon-check"></i> Browser icons</li>
          <li><i class="icon-check"></i> Phone, tablet, laptop, desktop vectors (SVG)</li>
          <li><i class="icon-check"></i> 5 Layered PSD files.</li>
        </ul>
      </div>
    </div>

    <hr>

    <!-- Video -->
    <div class="row inner-page">
      <div class="col-md-6 col-md-push-6">
        <div class="btn-container figurette">
          <%= image_tag "video.png", alt: "Play video" %>
          <a class="lightbox iframe btn-play" target="_blank" href="http://vimeo.com/61693087"><i class="icon-play"></i></a>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <ul class="big-list">
          <li><i class="icon-ok"></i> Always latest Tech</li>
          <li><i class="icon-play"></i> Responsive video</li>
          <li><i class="icon-resize-full"></i> Adaptive, smart mobile</li>
          <li><i class="icon-desktop"></i> All modern browsers supported</li>
        </ul>
        <br />
        <a href="#assets" class="scroll btn btn-theme btn-centered"><i class="icon-caret-down"></i> Even more features</a>
      </div>
    </div>
  </div> <!-- /#features -->

  <!-- Assets page -->
  <div id="assets" class="page color-3">
    <div class="inner-page">
      <h2 class="page-headline">Kids360 assets</h2>
    </div>

    <!-- Vectors -->
    <div class="row inner-page">
      <div class="col-md-6 lazy-container">
        <%= image_tag "responsive-vectors.png", class: "figurette lazy", alt: "Original vectors", data: "assets/responsive-vectors.png" %>
      </div>
      <div class="col-md-6">
        <h3>Kids360</h3>
        <p class="lead">Zombie ipsum
          <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeirtis.</p>
        <p>The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro..</p>
      </div>
    </div>  <!-- /vectors -->

    <hr>

    <!-- Big laptop -->
    <div class="row inner-page">
      <div class="col-md-offset-1 col-md-10">
        <div class="lazy-container lazy-large btn-container loaded">
          <div class="btn-container">
            <%= image_tag "laptop-blue@2x.png", class: "figurette lazy", data: "assets/laptop-blue@2x.png", alt: "view image in lightbox", style: "display: inline;" %>
            <a href="img/superman.jpg" class="lightbox btn-play" target="_blank">
              <i class="icon-zoom-in"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Clients -->
    <div class="clients color-1">
      <div class="inner-page">
        <h2 class="page-headline">Who's using Kids360.</h2>
      </div>
      <div class="inner-page row">
        <ul class="clients list-inline">
          <li><i class="icon-globe"></i> ABC DayCare </li>
          <li><i class="icon-heart"></i> ABC DayCare </li>
          <li><i class="icon-leaf"></i> ABC DayCare </li>
          <li><i class="icon-cloud"></i> ABC DayCare </li>
        </ul>
      </div>
    </div>
  </div> <!-- /#assets -->

  <!-- About page -->
  <div id="about" class="page color-4">
    <div class="inner-page">
      <h2 class="page-headline">Who are we and how it all got started. Our story.</h2>
    </div>
    <div class="row inner-page">
      <div class="col-md-6  lazy-container">
        <%= image_tag "logo1-trans.png", class: "figurette lazy", alt: "Our workspace", data: "assets/logo1-trans.png" %>
      </div>
      <div class="col-md-6">
        <h3>Kids360 is the solution to give childcare providers the ability to react quickly in the event of an emergency.</h3>
        <p class="lead"><p>  With our web platform we drastically reduce reaction time when seconds count.  Parents fill out the same medical and emergency contact forms every year, never to be updated and child care providers spend countless hours and loose productivity entering and filing those papers away.  The file cabinet is not the solution when seconds count.  Parents will be able to rely on our technology because they have the power to constantly update their information and grant access, securely only to the people that need it.  Using a special tab on the app, you can also quickly and easily send you child’s vital information with a just a few clicks. Our system reduces errors, increases accuracy and identify trends faster.</p>
      </div>
    </div>

    <hr>

    <!-- Team -->
    <div class="row inner-page team">
      <div class="col-md-6">
        <%= image_tag "cookies2.png", class: "pull-left", alt: "A cookie" %>
        <h4>Audrey Jones</h4>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
        <ul>
          <li><i class="icon-home"></i>  <a href="kids360.com">http://prettystrap.com</a>
          </li>
          <li><i class="icon-envelope-alt"></i>  <a href="info@email.com">info@email.com</a>
          </li>
          <li class="social">
            <a href="#about"><i class="icon-facebook-sign"></i></a>
            <a href="#about"><i class="icon-twitter"></i></a>
            <a href="#about"><i class="icon-github-sign"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 team2">
        <%= image_tag "cookies.png", class: "pull-left", alt: "A cookie" %>
        <h4>Demarcus Bowser</h4>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis.</p>
        <ul>
          <li><i class="icon-home"></i>  <a href="prettystrap.com">http://prettystrap.com</a>
          </li>
          <li><i class="icon-envelope-alt"></i>  <a href="info@email.com">info@email.com</a>
          </li>
          <li class="social">
            <a href="#about"><i class="icon-facebook-sign"></i></a>
            <a href="#about"><i class="icon-twitter"></i></a>
            <a href="#about"><i class="icon-github-sign"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- /#about -->

  <!-- Contact page -->
  <div id="contact" class="page color-6">
    <div class="inner-page">
      <h2 class="page-headline">Get in touch and stay updated</h2>
    </div>
    <div class="row inner-page contact">
      <div class="col-md-6">
        <h3>What's on your mind?</h3>
        <form id="contact-form">
          <textarea rows="6" class="form-control" placeholder="Your story"></textarea>
          <input type="text" class="form-control" placeholder="your@e-mail.com">
          <input type="text" class="form-control" placeholder="Name">
          <button class="btn btn-theme btn-centered">Contact us</button>
        </form>
      </div>
      <div class="col-md-6">
        <div class="btn-container centered lazy-container text-center">
          <%= image_tag "map.png", class: "lazy figurette", alt: "Open the map", data: "assets/map.png" %>
          <a class="lightbox iframe  btn-map" target="blank" title="Open google maps" href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d54789!2d-90.0031135!3d35.13424"><i class="pull-left icon-map-marker"></i><div>Memphis,<br />Tennessee,<br /> Kids360</div></a>
        </div>
      </div>
    </div>
  </div> <!-- /#contact -->

  <!-- Newsletter -->
  <div class="newsletter color-1">
    <div class="inner-page row">
      <div class="col-md-4">
        <h4>
          <strong>Be cool</strong>, subscribe to get our latest news</h4>
      </div>
      <div class="col-md-6">
        <input type="email" placeholder="your@e-mail.com" name="EMAIL" class="subscribe">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-theme pull-right btn-block">Subscribe</button>
      </div>
    </div>
  </div> <!-- /newsletter -->

  <!-- The footer, social media icons, and copyright -->
  <footer class="page color-5">
    <div class="inner-page row">
      <div class="col-md-6 social">
        <a href="#contact"><i class="icon-twitter"></i></a>
        <a href="#contact"><i class="icon-github-sign"></i></a>
        <a href="#contact"><i class="icon-facebook-sign"></i></a>
        <a href="#contact"><i class="icon-google-plus-sign"></i></a>
      </div>
      <div class="col-md-6 text-right copyright">
        &copy; 2013 <a href="http://prettystrap.com" title="twitter bootstrap themes">prettystrap.com</a> | all rights reserved | <a href="#top" title="Got to top" class="scroll">To top <i class="icon-caret-up"></i></a>
      </div>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
  }
  </script>

  <!-- Minimize in production. -->

  <script src="js/bootstrap.min.js"></script>


  <!-- Main js fail. -->
  <script src="js/main.min.js"></script>

  <script>
  // History, and back button
  $(function() {
    jQuery.history.listen()
    $('.nav .scroll').click(function() {
      $.history.push('index.html' + $(this).attr('href'));
    });
  });
  </script>
  <%= render 'layouts/google_analytics' %>
