<!DOCTYPE html>
<html>
<head>
  <title>Kids360</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body id="top" data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon-reorder"></i>
        </button>
        <%= link_to (image_tag 'logo1-trans.png', class: "img112x39"), root_url, class: "navbar-brand p0" %>
      </div>
      <div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_parent.present? %>
            <% if current_parent.admin %>
              <li><%= link_to "Dashboard", dashboard_url %></li>
              <li><%= link_to "Organizations", organizations_url %></li>
            <% end %>
            <li><%= link_to "My Account", parent_url(current_parent) %></li>
            <li><%= link_to "Log Out", sessions_url, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_parent_url %></li>
            <li><%= link_to "Log In", new_session_url %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <div class="height110">
</div>
  <div class="container">

    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
<%= render 'layouts/footer' %>
<%= render 'layouts/google_analytics' %>
</body>
</html>
